@page
@model FLEXX.Pages.FacultyInterfaceModel
@{
}

<head>
    <title>Marks Distribution</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
</head>
<style>

    body {
        background-color: #f8f9fa;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .card {
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .table {
        background-color: #fff;
    }

        .table th {
            background-color: #007bff;
            color: #fff;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }

    .form-select {
        color: #6c757d;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        box-shadow: 0 0 0 0.25


</style>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Set Marks Distribution</h1>
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <select class="form-select" aria-label="Select campus">
                            <option selected>Select Campus</option>
                            <option value="campus1">Campus 1</option>
                            <option value="campus2">Campus 2</option>
                            <option value="campus3">Campus 3</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-select" aria-label="Select semester">
                            <option selected>Select Semester</option>
                            <option value="fall">Fall</option>
                            <option value="spring">Spring</option>
                            <option value="summer">Summer</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button class="btn btn-primary" type="button">Search</button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Section</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CS101</td>
                            <td><a href="#exampleModalCenter" data-toggle="modal">Introduction to Computer Science</a></td>
                            <td>Section A</td>
                            <td>Ibrahim</td>
                        </tr>
                        <tr>
                            <td>CS201</td>
                            <td><a href="#">Data Structures and Algorithms</a></td>
                            <td>Section B</td>
                            <td>Ibrahim</td>
                        </tr>
                        <tr>
                            <td>CS301</td>
                            <td><a href="#">Database Systems</a></td>
                            <td>Section C</td>
                            <td>Ibrahim</td>
                        </tr>
                    </tbody>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>



    <div class="container mt-4">
        <h2>Set Marks Distributions</h2>
        <hr>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Course Name - Section XYZ</h5>
                <div class="row">
                    <div class="col-6">
                        <form>
                            <div class="form-group">
                                <label for="sessional1">Sessional I:</label>
                                <input type="range" class="form-range" min="0" max="100" id="sessional1">
                            </div>
                            <div class="form-group">
                                <label for="assignment">Assignments:</label>
                                <input type="range" class="form-range" min="0" max="100" id="assignment">
                            </div>
                            <div class="form-group">
                                <label for="quiz">Quizzes:</label>
                                <input type="range" class="form-range" min="0" max="100" id="quiz">
                            </div>
                            <div class="form-group">
                                <label for="sessional2">Sessional II:</label>
                                <input type="range" class="form-range" min="0" max="100" id="sessional2">
                            </div>
                            <div class="form-group">
                                <label for="final">Final Exam:</label>
                                <input type="range" class="form-range" min="0" max="100" id="final">
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Marks Distribution Summary</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Sessional I: <span class="float-end" id="s1">0%</span></li>
                                    <li class="list-group-item">Assignments: <span class="float-end" id="ass">0%</span></li>
                                    <li class="list-group-item">Quizzes: <span class="float-end" id="quizm">0%</span></li>
                                    <li class="list-group-item">Sessional II: <span class="float-end" id="s2">0%</span></li>
                                    <li class="list-group-item">Final Exam: <span class="float-end" id="finalm">0%</span></li>
                                    <li class="list-group-item">Total Marks: <span class="float-end" id="total">0/100</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>




                        